.headbar-wrapper {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: auto;
    height: 84px;
}   

.headbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1301px;
    height: 84px;
    background-color: black;
    
}

.headbar-leftside{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(204, 183, 183);
    width: 30vw;
    height: 84px;
    background-color: black;
   
    padding-right: 10px;
    

}




.headbar-rightside{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(204, 183, 183);
    width: 30vw;
    height: 84px;
    /*background-color: orange;*/
    

}



.mercedeslogo{
    
    margin-left: -10px;
    width: 30vw;
    display: flex;
    height: 84px;
    justify-content: space-around;
    align-items: center;
   /* background-color: lightcyan;*/

}


.Modelle{
    width: 60px;
    margin-left: -10px;
    display: flex;
    height: auto;
    font-size: 18px;
    
    /*background-color: red;*/
}

.Kaufen{
    height: auto;
    width: 60px;
    font-size: 18px;
    font-style: normal;
   /* background-color: yellow;*/
}

.Services{
    height:auto;
    
    width: 60px;
    font-size: 18px;
    font-style: normal;
    /*background-color: lightgreen;*/
}

.Markenwelt{
    
    height: auto;
    margin-right: 50px;
    width: 120px;
    font-size: 18px;
    font-style: normal;
   /* background-color: blue;*/
}


.Paragraph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 25px;
    margin-left: 60px;
    padding-bottom: 5px;
    /*background-color: green;*/

}


.Lupe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 24px;
    font-size: 40px;
    margin-left: 0;
    padding: 20px;

}


.Star{
    display: flex;
    width: auto ;
    height: auto ;
    font-size: 40px;
    margin-left: 0;
    padding-top: 13px;
    /*background-color: yellow;*/

}


.Login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 18px;
    margin-left: 0px;
    padding: 0px;
    margin-right: -30px;
    width: 30px;

}


.background-image{

    position: relative;
}
.Div-Gradient{
    background: rgb(255,255,255);
    background: linear-gradient(0deg,#fff,rgba(0,0,0,.001) 50%),linear-gradient(90deg,#fff,rgba(0,0,0,.001) 50%);
    position: absolute;
    height:100% ;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: left;
    flex-direction: column;

}




.background-content{
   
    margin-left: 80px;
    margin-top: 270px;
    width: 700px;
}


.txtdrive{
    font-size: 50px;
}

.txtleasing{
    margin-top: 30px;
    font-size: 20px;
}


.button-wrapper{

    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 90px;
    margin-left: 80px;
   
}

.background-content-button1{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 15px;
    height: 30px;
    width: 150px;
}

.background-content-button2{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 15px;
    height: 30px;
    width: 160px;
    margin-left: 10px;
    background-color: #3457D5;
    color:white;
}


.small-print{
    color: rgb(150, 149, 149);
    font-size: small;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 80px;
    width: 1323px;
    height: 120px;
}

.symbol-wrapper{
    width: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sticky-div-wrapper{
    height: 50px;
    width: 450px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    position: sticky;
    
    
}

.mercedes-benz-sticky{
    border: 1.5px solid gray ;
    text-align: center;
    padding-top: 17px;
    background-color: black;
    color: white;
    position: sticky;
    
    
}

.amg-sticky{
    border: 1.5px solid gray ;
    text-align: center;
    padding-top: 17px;
    position: sticky;
   
}

.maybach-sticky{
    border: 1.5px solid gray ;
    text-align: center;
    padding-top: 17px;
    position: sticky;
    
}

.recommendations{
    margin-left: 80px;
    margin-top: 40px;
    font-size: 40px;
}

.picture-grid{
    display: grid;
    margin-top: 35px;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 624px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 624px;
    column-gap: 40px;
    row-gap: 40px;
    object-fit: cover;

   
}

.gridbox img {
    width:100%;
}


.gridimage{
    object-fit: cover;
    height: 100%;
}

#g-class{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 624px;
    background-size: cover;
   
}

#eq-ranges{
    height: 624px;
    background-size: cover;
}

#digital-companion{
    height: 624px;
    background-size: cover;
}

#CPO{
    height: 624px;
    background-size: cover;
}
#GLC{
    height: 624px;
    background-size: cover;
}

.gridbox img {
    width:100%;
}
