/*div {

    font-size: 2rem;
    background-color: blueviolet;
}
*/

.header {
    border-style: solid;
    font-size: 1.5rem;
    background-color: green;
    padding: 3%;
    position: relative;
    top: 5px;
    left: 20px;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.importantText {
    text-decoration: line-through;
    position: relative;
    padding-top: 15rem;
    border-style: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
   
}

#text {
    position: relative;
    border-style: solid;
    background-color: crimson;
    margin-bottom: 1.5rem;
    width: 10rem;

}